$body-title-family: "Big Shoulders Display","Open Sans",sans-serif;
$body-font-family: "Open Sans",sans-serif;
$color-flag-blue: rgb(65,182,230); // Flag Blue
$color-star-red: rgb(228,0,43); // Star Red
