!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Hoodie | Chicago Neighborhood Information
    %link{:href=>'/stylesheets/bootstrap.min.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
    %link{:href=>'/stylesheets/layout.min.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    %script{:type => "text/javascript", :src => "/javascripts/maps.js"}
    %script{:type => "text/javascript", :src => "http://use.typekit.com/tee8gwn.js"}
    %script{:type => "text/javascript"}
      try{Typekit.load();}catch(e){} 
  %body
    = partial :_nav_main
    .container
      .content
        .page-header
          %h1="#{@hood_result['formatted_address']}"
        = yield
      %footer
        %p &copy; Kevin McMahon 2011
    = partial :_analytics