.topbar
  .fill
    .container
      %a.brand{:href => "/"} Hoodie
      %ul.nav
        %li.active
          %a{:href => "/"} Home
        %li
          %a{:href => "/about"} About
        %li
          %a{:href => "/contact"} Contact