:markdown
  Hoodie Chicago is one part answer to the question "What neighborhood am I in?" and one part "Hey, what can I do with all this data being provided by the city of Chicago?"  
    
  Hoodie was built with Sinatra, Google Maps API, Twitter Bootstrap and an appreciation for the efforts that Chicago is making to open their data.  
    
  This app is a personal project of [Kevin McMahon](http://about.me/kevinmcmahon) and is a work in progress. Please pass along any comments or suggestions via the contact form or via twitter [@klmcmahon](http://www.twitter.com/klmcmahon).