Hoodie Chicago is a personal project of [Kevin McMahon](http://about.me/kevinmcmahon) that is one part answer to the question "What neighborhood am I in?" and one part "Hey, what can I do with all this data being provided by the city of Chicago?"  
  
This app was built with Sinatra, Google Maps API and an appreciation for the efforts that Chicago is making to open its' data.