.row
  .span12.push2
    %form{ :action => "/feedback", :method => "post"}
      %fieldset
        %label{:for => "name"} Name 
        %input{:type => "text", :name => "name", :class => "text"}
      %fieldset
        %label{:for => "email"} Email 
        %input{:type => "text", :name => "email", :class => "text"}
      %fieldset
        %label{:for => "body"} Message 
        %textarea{:name => "message", :rows => "12" }
      %fieldset
        %input{:type => "submit", :value => "Send Feedback", :class => "button"}