#header
  Welcome to Hoodie
#container
  %form{ :id => "address_form", :action => "/hood", :method => "post"}
    %fieldset
      %label{:for => "address"} Address:
      %input{:type => "text", :name => "address", :class => "text"}
    %fieldset    
      %input{:type => "submit", :value => "Look Up", :class => "button"}
