.row
  .span14
    %form{ :id => "address_form", :action => "/", :method => "post"}
      %fieldset
        %input{:type => "text", :name => "address", :class => "text", :placeholder => "Enter a Chicago Address"}
      %fieldset    
        %input{:type => "submit", :value => "Look Up", :class => "button"}