html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  color: #3366cc;
}

a:hover {
  color: #3366cc;
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

body {
  background: #b3ddf2;
  margin:20px 0px; 
  padding:0px;
  text-align:center;	
}

#header {
  font-size: 96px;
  font-weight: 500;
  font-style: normal;
  font-family: futura-pt,sans-serif;
  text-align: center;
  width: 100%;
}

body h1 {
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-family: futura-pt,sans-serif;
  text-align: center;
  width: 100%;
}

body h2 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
  width: 100%;
}

body ul {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: #e7e7e7;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
body ul li {
  display: inline;
  line-height: 30px;
  padding: 0 15px;
}
body ul li a {
  color: black;
  text-decoration: none;
}
body ul li a:hover {
  text-decoration: underline;
}

#map_canvas {
  height: 400px;
  width: 50%;
  margin: auto;
  padding: 10px;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 200px;
  }
}

#container {
	font-family: 'Gill Sans', 'Droid Sans', 'Calibri', 'Lucida Grande', 'Trebuchet MS', 'Helvetica Neue', 'Arial', sans-serif;
	width:80%;
	margin:0px auto;
	text-align:left;
	padding:10px;
}

#address_form fieldset {
  margin: auto;
  width: 100%;
}

#address_form input label {
  display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4;
  color: #666;
  color: rgba(0,0,0,0.6);
  text-shadow: 0 1px 1px #fff;
}

#address_form input input[type="text"] {
	width: 100%;
	padding: 5px 8px;
	font-size: 1.2em;
	color: #666;
	border: none;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to(#fff));
	background-image: -moz-linear-gradient(0% 12% 90deg, #fff, #999);
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
